@import "../../../../Constant/RESIZE";
@import "../../Style.module";

.StagePoint {
    width: 2*$RADIUS;
    height: 2*$RADIUS;
    border: $RADIUS solid #B0B7C1;
    border-radius: $RADIUS;
    z-index: 0;

    &.reached {
        border-color: #17C0EF;
    }
}