@import "../../Constant/COLOR";

.Selector {
    font-size: (28rem/16);
    width: 100%;

    .series {
        margin-bottom: (38rem/16);

        &:last-child {
            margin-bottom: 0;
        }

        .caption {
            display: inline-block;
            font-weight: bold;
            margin-right: (122rem/16);
        }

        .itemWrapper {
            display: inline-block;

            .item {
                display: inline-block;
                width: 12rem;
                cursor: pointer;

                &.active, &:hover {
                    color: $BLUE;
                }
            }
        }
    }
}