@import "../../Constant/RESIZE";

.InsurancePurchasingProcess {
    padding: (41rem/$RESIZE_FACTOR) (58rem/$RESIZE_FACTOR);
    width: (2060rem/$RESIZE_FACTOR);
    margin: 0 auto;

    .tableWrapper {
        margin: (51rem/$RESIZE_FACTOR) 0;

        .processTable {
            font-size: (28rem/$RESIZE_FACTOR);
            background-color: #FFF;

            .row {
                cursor: pointer;
            }

            .publicKey {
                max-width: 6rem;
                overflow: hidden;
                text-overflow: ellipsis;
                cursor: pointer;
            }
        }
    }
}