.InsurancePublication {

    padding: (82rem/24) (329rem/24);

    .contentWrapper {
        padding: (58rem/24) (119rem/24);
        margin: 0 auto;

        .formWrapper {
            margin-top: (64rem/24);

            .inputWrapper {
                display: block;
                width: 100%;
                margin: (28rem/24) 0;

                .label {
                    font-size: (28rem/24);
                    margin-bottom: (19rem/24);
                    display: inline-block;
                }

                .input, .textarea {
                    display: block;
                    height: (57rem/24);
                    font-size: (25rem/24);

                    &, &:focus {
                        background-color: #ECF0F7;
                    }
                }

                .insuranceDetailTextArea {
                    height: (200rem/24);
                    resize: none;
                }
            }
        }
    }

    .contentWrapper, .buttonGroup {
        width: (1223rem/24);
        box-sizing: border-box;
    }

    .buttonGroup {
        display: block;
        margin: 0 auto;

        .cancelButton, .publishButton {
            width: 50%;
            height: (87rem/24);
            font-size: (28rem/24);
            line-height: 1em;
        }
    }
}