@import "../../../../Constant/RESIZE";

.DirectPaymentInfo {
    cursor: pointer;
    user-select: none;

    .publicKey {
        max-width: (192rem/$RESIZE_FACTOR);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-family: monospace;
        text-decoration: underline dotted;
    }
}