@import "../../Constant/RESIZE";
@import "../../Constant/COLOR";

.SignUp {
    width: (473rem/$RESIZE_FACTOR);

    .title {
        font-size: (48rem/$RESIZE_FACTOR);
        font-weight: bold;
        text-align: center;
    }

    .signUpPart {
        .signUpForm {
            margin-top: (9rem/$RESIZE_FACTOR);

            .inputWrapper {

                .input {
                    font-size: (20rem/$RESIZE_FACTOR);
                    margin-bottom: (14rem/$RESIZE_FACTOR);

                    &:first-child {
                        margin-top: 0;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                .verificationCodeInputLabel {
                    cursor: pointer;
                }
            }

            .linkWrapper {
                margin-top: (17rem/$RESIZE_FACTOR);
                display: flex;
                justify-content: flex-end;
                align-items: center;
                font-size: (28rem/$RESIZE_FACTOR);


                a {
                    color: $BLUE;
                }
            }

            .buttonWrapper {
                display: flex;
                justify-content: center;
                margin-top: (19rem/$RESIZE_FACTOR);

                .submitButton {
                    color: $WHITE;
                    width: (254rem/$RESIZE_FACTOR);
                    height: (80rem/$RESIZE_FACTOR);
                    border-radius: (40rem/$RESIZE_FACTOR);
                    font-size: (36rem/$RESIZE_FACTOR);
                    background-color: $BLUE;

                    &:hover {
                        color: $WHITE;
                    }
                }
            }
        }
    }

    .signUpSuccessPart {

        .buttonWrapper {
            display: flex;
            justify-content: center;
            margin-top: (19rem/$RESIZE_FACTOR);

            .toLoginButton {
                color: $WHITE;
                width: (254rem/$RESIZE_FACTOR);
                height: (80rem/$RESIZE_FACTOR);
                border-radius: (40rem/$RESIZE_FACTOR);
                font-size: (36rem/$RESIZE_FACTOR);
                background-color: $BLUE;

                &:hover {
                    color: $WHITE;
                }
            }
        }
    }
}